# Copyright (c) 2024 Ditso Labs
# SPDX-License-Identifier: Apache-2.0

config SOC_LITEX_VEXRISCV
	bool "LiteX VexRiscV SoC"
	select RISCV
	select ATOMIC_OPERATIONS_C
	help
	  Enable support for LiteX VexRiscV SoC
